@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./reset.css";
@import "./variables.css";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a.reverse {
  color: var(--primary-color);
  text-decoration: none;
}

a.reverse:hover {
  text-decoration: underline;
}
